.disclaimer {
  font-size: 0.9em;
  color: #555;
  margin-top: 10px;
  line-height: 1.5;
}

.disclaimer h1 {
    font-size: 2em;
    margin-bottom: 10px;
}
.disclaimer h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
    text-decoration: none;
    text-align: left;
}

.disclaimer p {
    margin: 10px 0;
}

.disclaimer p span {
    font-weight: bold;
}
.agreement_navigation {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

ul {
  list-style-type: disc; 
  padding-left: 2.2em; 
  font-weight: bold;
}

ul ul {
  list-style-type: circle; 
  padding-left: 1.5em;  
  font-weight: normal;
}